body {
    font-family: monaco, ubuntu, sans-serif;
    background-color: hsl(0, 0%, 90%);
}

.modal {
    display: none; /* will change to block per modal */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 10%, 50%);
}

.modal.open {
    display: block;
}

.modal .modal-content {
    width: 40%;
    margin: 10% auto;
    background-color: hsl(0, 0%, 95%);
    border-radius: 3px;
    padding: 5% 15px;
    text-align: center;
    box-shadow: 1px 1px 4px 1px hsl(0, 0%, 50%);
}

.modal .modal-message {
    margin: 2.6em 5px;
}

.modal .modal-actions {
    margin: 10px auto;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.modal .modal-actions button {
    background: #fff;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 7px;
    padding: 7px 20px;
    margin: 0px 3px;
}
